.burger-menu-popup {
    display: none; /* Par défaut, le menu est caché */
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
}

.burger-menu-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger-menu-popup ul li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.burger-menu-popup ul li a {
    text-decoration: none;
    color: #333;
}

.burger-menu-popup ul li a:hover {
    color: #007BFF;
}

.burger-menu-popup.open {
    display: block;
}
